In [1]:
import pandas as pd
import numpy as np
onco=pd.read_csv("onco.txt", delimiter='\t', index_col=0)
onco

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (400) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,m.z,X602.329569609238,X603.353251289886,X604.376932970534,X606.131815851645,X616.417379404823,X617.343567592076,X618.318502526026,X619.342184206674,X620.317119140625,...,X2952.45897464368,X2960.30720086198,X2961.33088254263,X2961.47712278272,X3101.38028580462,X3102.40396748527,X3102.59895447206,tumor_type,subject_ID,tissue_type
1,Spot 1,7.269998,3.764184,1.779937,1.479734,1.553826,1.672309,3.923324,2.356702,1.851078,...,0.713219,0.558826,0.540300,0.553887,0.461969,0.476694,0.583811,Oncocytoma,2,NaN
2,Spot 2,0.508743,0.713295,0.827453,0.468270,0.853420,0.681344,0.617635,0.840286,0.636731,...,0.403060,0.364584,0.370775,0.422585,0.351171,0.377740,0.441661,Oncocytoma,2,NaN
3,Spot 3,6.486244,3.676765,2.552239,4.096031,2.356456,1.551082,3.745872,3.617859,1.984072,...,0.382191,0.333579,0.314135,0.404237,0.353860,0.405182,0.300880,Oncocytoma,2,NaN
4,Spot 4,2.081743,1.188757,0.846792,0.565390,0.750580,1.134875,2.668342,0.895354,1.766416,...,0.700218,0.582676,0.625648,0.701405,0.636884,0.533625,0.709786,Oncocytoma,2,NaN
5,Spot 5,1.567486,1.008587,0.607407,0.592637,1.016887,1.299515,1.496563,0.785080,1.137632,...,0.671320,0.637810,0.566661,0.766580,0.676455,0.585036,0.773459,Oncocytoma,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518153,Spot 518153,2.453640,0.975485,0.952584,0.625409,0.649466,0.859783,1.904737,0.878745,1.388710,...,0.543580,0.571252,0.486338,0.653622,0.589346,0.561318,0.573581,Oncocytoma,10,NaN
518154,Spot 518154,4.452445,1.621141,1.231162,0.674645,0.764160,1.099776,3.041667,1.219699,1.504463,...,0.496838,0.508462,0.548898,0.609129,0.539712,0.536372,0.461282,Oncocytoma,10,NaN
518155,Spot 518155,1.349671,0.767141,0.628065,0.583975,0.655874,0.726557,1.082003,0.763193,0.888925,...,0.629556,0.538704,0.539667,0.601021,0.564184,0.564363,0.564176,Oncocytoma,10,NaN
518156,Spot 518156,1.863345,1.011550,0.806715,0.625088,0.775706,0.842305,1.770343,0.834873,1.429154,...,0.748738,0.575644,0.572694,0.723099,0.560181,0.554489,0.505994,Oncocytoma,10,NaN
518157,Spot 518157,2.461812,1.101518,0.870671,0.718543,0.972794,1.104032,2.119079,0.973963,1.696550,...,0.683521,0.534653,0.550531,0.684703,0.526594,0.536616,0.543622,Oncocytoma,10,NaN

In [2]:
select = ['tumor', 'normal'] 
labeled_onco = onco.loc[onco['tissue_type'].isin(select)] 
labeled_onco

,m.z,X602.329569609238,X603.353251289886,X604.376932970534,X606.131815851645,X616.417379404823,X617.343567592076,X618.318502526026,X619.342184206674,X620.317119140625,...,X2952.45897464368,X2960.30720086198,X2961.33088254263,X2961.47712278272,X3101.38028580462,X3102.40396748527,X3102.59895447206,tumor_type,subject_ID,tissue_type
49498,Spot 49498,1.440343,0.813439,0.655844,0.573527,0.714667,0.955381,1.682411,1.064927,1.384536,...,0.928118,0.954897,0.667764,0.794491,0.625842,0.713176,0.731888,Oncocytoma,2,normal
49499,Spot 49499,1.534957,0.948427,0.601714,0.495418,0.581550,0.877644,1.828664,0.866143,1.560050,...,1.044661,0.758412,0.657392,0.797699,0.682733,0.653491,0.769007,Oncocytoma,2,normal
49500,Spot 49500,2.347374,1.169331,0.754657,0.533719,0.710671,0.868694,2.832049,0.915472,1.855402,...,0.918195,0.677340,0.638755,0.801314,0.735055,0.625946,0.570717,Oncocytoma,2,normal
49501,Spot 49501,1.872846,1.079051,0.644956,0.538901,0.701988,1.103904,2.171608,1.022346,1.580894,...,1.212414,0.743006,0.714803,0.927732,0.879321,0.928179,0.595115,Oncocytoma,2,normal
49502,Spot 49502,1.903800,1.257334,0.734060,0.489888,0.677401,0.864524,2.117310,0.974153,1.513752,...,1.013647,0.720163,0.782347,0.948809,0.654514,0.625706,0.683466,Oncocytoma,2,normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485575,Spot 485575,0.913892,0.695156,0.589535,0.547784,0.548901,0.635085,0.905551,0.633365,0.736398,...,0.568804,0.530975,0.553406,0.775718,0.629097,0.625438,0.667844,Oncocytoma,10,tumor
485576,Spot 485576,1.348134,0.824478,0.635977,0.575300,0.821046,0.802407,1.387536,0.818904,1.190108,...,0.562465,0.511603,0.625465,0.799687,0.637435,0.539646,0.658856,Oncocytoma,10,tumor
485925,Spot 485925,1.282232,0.793693,0.703407,0.634656,0.711394,0.809901,1.089025,0.837698,1.027825,...,0.613564,0.563908,0.549987,0.751989,0.527759,0.519881,0.778819,Oncocytoma,10,tumor
485926,Spot 485926,2.112358,1.104357,0.744470,0.680496,0.836218,1.115948,2.210373,1.120921,1.690869,...,0.565224,0.531257,0.519792,0.630207,0.512814,0.567965,0.560492,Oncocytoma,10,tumor
485927,Spot 485927,1.286864,0.806225,0.639403,0.620296,0.650807,0.842327,1.275225,0.894494,1.072136,...,0.578968,0.569441,0.595663,0.513972,0.548276,0.521154,0.540245,Oncocytoma,10,tumor

In [5]:
O_indexes

                       x             y
Spot index
225980      46166.816406  13094.630859
225981      46166.816406  13044.630859
225982      46166.816406  12994.630859
226311      46216.816406  13194.630859
226312      46216.816406  13144.630859
...                  ...           ...
244989      49216.816406  14244.630859
244990      49216.816406  14194.630859
245197      49266.816406  14344.630859
245198      49266.816406  14294.630859
245199      49266.816406  14244.630859

[2219 rows x 2 columns]

In [27]:
from sklearn.cluster import KMeans
import seaborn as sns
import matplotlib.pyplot as plt
def kmeans_clustering_areas(area, area_indexes):
    kmeans = KMeans(n_clusters=2)
    pred = kmeans.fit_predict(area)
    indexes=area.index
    predictions=pd.DataFrame(pred, columns=['Predictions'], index=indexes)
    predictions.to_csv('O_eucl_kmeans_clustering_predictions.txt', sep='\t')
    global kmeans_tomap
    kmeans_tomap=predictions.join(area_indexes)
    return kmeans_tomap
kmeans_clustering_areas(O, O_indexes)

        Predictions             x             y
225980            1  46166.816406  13094.630859
225981            1  46166.816406  13044.630859
225982            1  46166.816406  12994.630859
226311            1  46216.816406  13194.630859
226312            1  46216.816406  13144.630859
...             ...           ...           ...
244989            0  49216.816406  14244.630859
244990            0  49216.816406  14194.630859
245197            0  49266.816406  14344.630859
245198            0  49266.816406  14294.630859
245199            0  49266.816406  14244.630859

[2219 rows x 3 columns]

In [26]:
#KMeans with Corr. Dist. instead of Euclidean
from sklearn.metrics import pairwise
def corrdist_kmeans_clustering_areas(area, area_indexes):
    dist=pairwise.pairwise_distances(area)
    kmeans = KMeans(n_clusters=2)
    pred = kmeans.fit_predict(dist)
    indexes=area.index
    predictions=pd.DataFrame(pred, columns=['Predictions'], index=indexes)
    predictions.to_csv('O_corrdist_kmeans_clustering_predictions.txt', sep='\t')
    global corrdist_kmeans_tomap
    corrdist_kmeans_tomap=predictions.join(area_indexes)
    return corrdist_kmeans_tomap
corrdist_kmeans_clustering_areas(O, O_indexes)

        Predictions             x             y
225980            1  46166.816406  13094.630859
225981            1  46166.816406  13044.630859
225982            1  46166.816406  12994.630859
226311            1  46216.816406  13194.630859
226312            1  46216.816406  13144.630859
...             ...           ...           ...
244989            0  49216.816406  14244.630859
244990            0  49216.816406  14194.630859
245197            0  49266.816406  14344.630859
245198            0  49266.816406  14294.630859
245199            0  49266.816406  14244.630859

[2219 rows x 3 columns]

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
def plotting_clusters(tomap):
    fig, ax = plt.subplots()
    fig.set_size_inches(15, 9)
    plt.title('Mapping of Region O with Agglomerative Clustering',fontsize=15)
    plot=sns.scatterplot(tomap['x'], tomap['y'], hue = tomap['Predictions'])
    plt.xlabel('x')
    plt.ylabel('y')
    ax.legend(fontsize=11)
    fig = plot.get_figure()
    fig.savefig("O_aggl_clustering.pdf")
    return plt.show()
plotting_clusters(aggl_tomap)

In [6]:
O_indexes=pd.read_csv("unknown_O.csv", delimiter=";", header=8, index_col=0)

O=onco.iloc[O_indexes.index-1, 1:397]
O

,X602.329569609238,X603.353251289886,X604.376932970534,X606.131815851645,X616.417379404823,X617.343567592076,X618.318502526026,X619.342184206674,X620.317119140625,X621.340800821273,...,X2886.35838612183,X2950.41161128238,X2951.48403970973,X2952.45897464368,X2960.30720086198,X2961.33088254263,X2961.47712278272,X3101.38028580462,X3102.40396748527,X3102.59895447206
225980,1.372610,0.718457,0.621528,0.629091,0.715331,1.119882,1.141904,1.660552,1.582675,0.894331,...,0.379246,0.373377,0.396315,0.406710,0.355540,0.361112,0.404840,0.313064,0.361594,0.341070
225981,1.141587,0.855667,0.522163,0.656226,0.548614,0.827859,1.333262,1.686788,1.254023,0.667017,...,0.475432,0.403183,0.502219,0.520197,0.443742,0.423756,0.464777,0.376988,0.268607,0.490978
225982,1.133630,0.722860,0.460398,0.679817,0.520498,0.908909,0.902094,1.425209,0.950833,0.829724,...,0.523561,0.479269,0.469282,0.372505,0.437709,0.437214,0.566808,0.473910,0.403871,0.467652
226311,1.096263,0.733323,0.501774,0.671993,0.535885,0.979712,1.020747,1.199167,1.332209,0.732339,...,0.426787,0.403301,0.489691,0.425439,0.485944,0.453733,0.441637,0.420885,0.428756,0.495862
226312,1.417352,0.886883,0.532210,0.775612,0.588271,1.206342,1.266376,1.902564,1.706164,0.906544,...,0.442098,0.419789,0.430878,0.456847,0.427137,0.363185,0.446384,0.418718,0.436453,0.509694
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244989,0.668436,0.580358,0.540616,0.579606,0.497589,0.613518,0.685377,0.697003,0.778980,0.670093,...,0.611112,0.611290,0.541724,0.678833,0.547949,0.532162,0.543794,0.722903,0.508661,0.469619
244990,0.575948,0.772665,0.635754,0.594095,0.611225,0.636162,0.851350,0.748846,0.941391,0.687976,...,0.506335,0.585897,0.607551,0.642157,0.645496,0.524286,0.444148,0.542884,0.610076,0.591017
245197,0.677176,0.695348,0.485615,0.665148,0.504938,0.650639,0.898472,0.980062,1.378041,0.607532,...,0.494140,0.484957,0.547858,0.508919,0.430793,0.447971,0.522378,0.485466,0.575339,0.611676
245198,1.061938,0.684968,0.564018,0.509373,0.516661,0.845478,0.887506,0.927701,1.148351,0.691638,...,0.458641,0.530290,0.563736,0.549039,0.487071,0.575064,0.553880,0.493158,0.640619,0.546523
245199,0.791155,0.584841,0.514844,0.609499,0.550640,0.740860,0.656545,0.890329,1.314718,0.689092,...,0.479485,0.577430,0.533386,0.517498,0.518317,0.565117,0.527304,0.476240,0.492843,0.535268

In [23]:
kmeans_tomap.Predictions.value_counts()

1    915
0    448
Name: Predictions, dtype: int64

In [16]:
O_tumor=pd.read_csv("O_tumor.csv", delimiter=";", header=8, index_col=0)
#R_tumor = R_tumor.drop([337348, 341864, 340969, 336461, 338682])
O_tumor

                       x             y
Spot index
225980      46166.816406  13094.630859
225981      46166.816406  13044.630859
225982      46166.816406  12994.630859
226311      46216.816406  13194.630859
226312      46216.816406  13144.630859
...                  ...           ...
239035      48166.816406  14744.630859
239036      48166.816406  14694.630859
239037      48166.816406  14644.630859
239038      48166.816406  14594.630859
239039      48166.816406  14544.630859

[1223 rows x 2 columns]

In [17]:
corrdist_kmeans_tomap["Labels"] = ""
corrdist_kmeans_tomap.loc[O_tumor.index,'Labels']=1
corrdist_kmeans_tomap=corrdist_kmeans_tomap.replace(r'^\s*$', 0, regex=True)
corrdist_kmeans_tomap

        Predictions             x             y  Labels
225980            0  46166.816406  13094.630859       1
225981            0  46166.816406  13044.630859       1
225982            0  46166.816406  12994.630859       1
226311            0  46216.816406  13194.630859       1
226312            0  46216.816406  13144.630859       1
...             ...           ...           ...     ...
244989            1  49216.816406  14244.630859       0
244990            1  49216.816406  14194.630859       0
245197            1  49266.816406  14344.630859       0
245198            1  49266.816406  14294.630859       0
245199            1  49266.816406  14244.630859       0

[2219 rows x 4 columns]

In [18]:
labels=np.array(corrdist_kmeans_tomap.Labels)

In [34]:
aggl_tomap=aggl_tomap.replace(0,2)
aggl_tomap=aggl_tomap.replace(1,3)
aggl_tomap=aggl_tomap.replace(2,1)
aggl_tomap=aggl_tomap.replace(3,0)
aggl_tomap

        Predictions             x             y
225980            1  46166.816406  13094.630859
225981            1  46166.816406  13044.630859
225982            1  46166.816406  12994.630859
226311            1  46216.816406  13194.630859
226312            1  46216.816406  13144.630859
...             ...           ...           ...
244989            0  49216.816406  14244.630859
244990            0  49216.816406  14194.630859
245197            0  49266.816406  14344.630859
245198            0  49266.816406  14294.630859
245199            0  49266.816406  14244.630859

[2219 rows x 3 columns]

In [35]:
import sklearn
corrdist_kmeans_acc=sklearn.metrics.accuracy_score(corrdist_kmeans_tomap.Predictions, labels)
aggl_tomap_acc=sklearn.metrics.accuracy_score(aggl_tomap.Predictions, labels)
kmeans_tomap_acc=sklearn.metrics.accuracy_score(kmeans_tomap.Predictions, labels)

In [36]:
print(corrdist_kmeans_acc, aggl_tomap_acc, kmeans_tomap_acc)

0.7147363677332131 0.8165840468679585 0.7589004055881028

In [21]:
#IMPORT RESULTS FROM SUP CLASSIFICATION
O_preds_sup=pd.read_csv("O_predictions.txt", delimiter="\t", index_col=0)
O_preds_sup=O_preds_sup.replace('normal', 0)
O_preds_sup=O_preds_sup.replace('tumor', 1)
O_preds_sup

       Spots  Random Forest  Log Regression  Log Regression CV  KNN
0     225980              1               1                  1    1
1     225981              1               1                  1    1
2     225982              1               1                  1    1
3     226311              1               1                  1    1
4     226312              1               1                  1    1
...      ...            ...             ...                ...  ...
2214  244989              0               0                  0    0
2215  244990              0               1                  1    0
2216  245197              1               1                  1    0
2217  245198              1               0                  1    0
2218  245199              1               0                  0    0

[2219 rows x 5 columns]

In [22]:
rf_acc=sklearn.metrics.accuracy_score(O_preds_sup['Random Forest'], labels)
lr_acc=sklearn.metrics.accuracy_score(O_preds_sup['Log Regression'], labels)
lrcv_acc=sklearn.metrics.accuracy_score(O_preds_sup['Log Regression CV'], labels)
knn_acc=sklearn.metrics.accuracy_score(O_preds_sup['KNN'], labels)

In [37]:
acc = {'acc': [corrdist_kmeans_acc, aggl_tomap_acc, kmeans_tomap_acc, rf_acc,
                    lr_acc, lrcv_acc, knn_acc]}
indexes=['CorrDist KMeans', 'Euclidean KMeans', 'Aggl KMeans', 'Random Forest', 'Log Regression', 'Log Regression CV', 'KNN']
accuracies=pd.DataFrame(data=acc, index=indexes)
accuracies

                        acc
CorrDist KMeans    0.714736
Euclidean KMeans   0.816584
Aggl KMeans        0.758900
Random Forest      0.856242
Log Regression     0.708878
Log Regression CV  0.663813
KNN                0.890041

In [38]:
accuracies.to_csv('O_accuracies.csv')